@import './assets/css/icon.css';
@import './assets/css/main.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #4098fc;
}

body {
  margin: 0;
  /*display: flex;*/
  /*place-items: center;*/
  /*min-width: 320px;*/
  /*min-height: 100vh;*/
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*button {*/
/*  border-radius: 8px;*/
/*  border: 1px solid transparent;*/
/*  padding: 0.6em 1.2em;*/
/*  font-size: 1em;*/
/*  font-weight: 500;*/
/*  font-family: inherit;*/
/*  background-color: #1a1a1a;*/
/*  cursor: pointer;*/
/*  transition: border-color 0.25s;*/
/*}*/
/*button:hover {*/
/*  border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

.card {
  padding: 2em;
}

.page-fixed{
  position: sticky;
  bottom: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.09);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 0 3px 0 rgba(0, 0, 0, .04);
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
  z-index: 10;
  /*background: #fff;*/
  /*margin-left: -12px;*/
  &.dark{
    background: rgb(44, 44, 50);
  }
  &.light{
    background: #fff;
  }
  & .set{
    & i{
      font-size: 20px;
      cursor: pointer;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #4098fc;
  }
  button {
    background-color: #f9f9f9;
  }
}
.w100{ width: 100%; }
.pointer{ cursor: pointer }

.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.multiline-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 限制显示的行数为2 */
  overflow: hidden;
}

.flex { display: flex; /*容器属性*/ /*项目属性*/ }

.flex-inline { display: inline-flex !important; }

.flex-direction { flex-direction: row; }

.flex-direction-r { flex-direction: row; }

.flex-direction-rr { flex-direction: row-reverse; }

.flex-direction-c { flex-direction: column; }

.flex-direction-cr { flex-direction: column-reverse; }

.flex-wrap { flex-wrap: wrap; }

.flex-wrap-w { flex-wrap: wrap; }

.flex-wrap-n { flex-wrap: nowrap; }

.flex-wrap-wr { flex-wrap: wrap-reverse; }

.flex-jc { justify-content: center; }

.flex-jc-fs { justify-content: flex-start; }

.flex-jc-fe { justify-content: flex-end; }

.flex-jc-c { justify-content: center; }

.flex-jc-sb { justify-content: space-between; }

.flex-jc-sa { justify-content: space-around; }

.flex-ai { align-items: center; }

.flex-ai-fs { align-items: flex-start; }

.flex-ai-fe { align-items: flex-end; }

.flex-ai-c { align-items: center; }

.flex-ai-b { align-items: baseline; }

.flex-ai-s { align-items: stretch; }

.flex-ac { align-content: center; }

.flex-ac-fs { align-content: flex-start; }

.flex-ac-fe { align-content: flex-end; }

.flex-ac-c { align-content: center; }

.flex-ac-sb { align-content: space-between; }

.flex-ac-sa { align-content: space-around; }

.flex-ac-s { align-content: stretch; }

.flex-grow { flex-grow: 0; }

.flex-grow1 { flex-grow: 1; }

.flex-grow2 { flex-grow: 2; }

.flex-grow-3 { flex-grow: 3; }

.flex-grow-4 { flex-grow: 4; }

.flex-grow-5 { flex-grow: 5; }

.flex-as-fs { align-self: flex-start; }

.flex-as-fe { align-self: flex-end; }

.flex-as-c { align-self: center; }

.flex-as-b { align-self: baseline; }

.flex-as-s { align-self: stretch; }

.flex-center { justify-content: center; align-items: center; }

.flex-shrink { flex-shrink: 0 !important; }

.gap{
  gap: 5px;
}
.gap1{
  gap: 10px;
}
.gap2{
  gap: 15px;
}
.gap3{
  gap: 20rpx;
}
.gap4{
  gap: 25px;
}
.gap5{
  gap: 30px;
}
.modal-card-close{
  font-size: 20px;
  color: #999999;
  cursor: pointer;
}